body {
  background-color: #f8f8f8 ;
}
.menu > li > a {
    color: rgba(255, 67, 0, 0.7);
    font-size: 25px;
    font-weight: bolder;
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
}
.menu > li {
    display: inline-block;
}
.product > h2 {
    color: #000;
    font-size: 18px;
    font-weight: 400;
    background-color: #eaeaea;
}
.shortDescription {
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}
.detailedDescription {
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}
.options > li {
    list-style-image: url("../img/iconRight.png");
}
.contact input[type = "text"][placeholder = "Ваше имя"]{
    margin-bottom: 10px;
    width: 30%;
}
.contact input[type = "text"][placeholder = "Ваш E-mail"]{
    width: 30%;
}
.contact input[type = "text"], textarea {
    font-size: 20px;
    width: 60%;
    margin-bottom: 10px;
    text-align: left;
}
.productImg {
    border: 2px solid orangered;
}